<head>
	<meta charset="utf-8">
	<link href="http://gmpg.org/xfn/11" rel="profile">

	<!-- Enable responsiveness on mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>
		{% if page.title == "Home" %}
			{{ site.title }} &middot; {{ site.tagline }}
		{% else %}
			{{ page.title }} &middot; {{ site.title }}
		{% endif %}
	</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}normalize.css/normalize.css">
	<link rel="stylesheet" href="{{ site.baseurl }}octicons/octicons/octicons.css">
	<link rel="stylesheet" href="{{ site.baseurl }}css/main.css">
	<link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css">

	<!-- Atom -->
	<link rel="alternate" type="application/atom+xml" title="Atom" href="{{ site.baseurl }}atom.xml">
</head>
